@tailwind base;
@tailwind components;
@tailwind utilities;

.header-nav{
    display: flex;
    background-color: brown;
    justify-content: space-around;
    color:white;
    align-items: center;

}

.active{
    background-color: deeppink;
    padding:10px 15px 10px 15px;
    border-radius: 10px;
}

.chats{
    height: 57%;
}


.chats::-webkit-scrollbar{
    display: none;
}

.messages::-webkit-scrollbar{
    display: none;
}

.send-message::after{
  content: "";
  width: 0; 
  height: 100%; 
  top: 0px;
  position: absolute;
  right: -8px;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #036242;
}

.receive-message::before{
    content: "";
    width: 0; 
    height: 0; 
    top: 0px;
    position: absolute;
    left: -10px;
    border-bottom: 10px solid transparent;
    border-right: 12px solid #374151;
}

.submit-btn{
    background-image: linear-gradient(to right,blue,deeppink) ;
    color: white;
    font-weight: bold;
}

.exp-header::before{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    background-color: white;
    top:0px;
    left: -19px;
    border-right: 30px solid blueviolet;
    border-top: 1.75rem solid #E2E8F0;
    border-bottom: 1.75rem solid #E2E8F0;
  
  }

  .exp-header::after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    background-color: white;
    top:0px;
    right: -19px;
    border-left: 30px solid blueviolet;
    border-top: 1.75rem solid #E2E8F0;
    border-bottom: 1.75rem solid #E2E8F0;
  
  }

  .about{
    background-color: blueviolet;
  }

  .left-wave{
    content: "";
    background-color: blueviolet;
  }

  .left-wave::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 80%;
    bottom:0px;
    left: 0px;
    background-color: white;
    border-radius: 50%/100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .left-wave::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 80%;
    bottom: -54px;
    right: 0px;
    background-color: blueviolet;
    border-radius: 50%/100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }


.quotes::after{
  content: "";
  height: 110px;width: 0;
  position: absolute;
  right: -50px;
  top:0px;
  border-top: 110px solid green;
  border-right: 50px solid transparent;
}

.quotes::before{
  content: "";
  height: 110px;width: 0;
  position: absolute;
  left: -50px;
  top:0px;
  border-top: 110px solid transparent;
  border-right: 50px solid green;
}

.quotes{
  height: 110px;
}






  